/common_interfaces/build/
/common_interfaces/dist/
/DummyPlugin/build/
/DummyPlugin/dist/
/IssueTrackerDummy/build/
/MercurialPlugin/build/
/SourceCodeMgEngine/build/
/IssueTrackerDummy/dist/
/MercurialPlugin/dist/
/SourceCodeMgEngine/dist/
/TeamTrackPlugin/build/
/XPlannerPlugin/build/
/TeamTrackPlugin/dist/
/env_admin/env_admin-ejb/build/
/XPlannerPlugin/dist/
/env_admin/build/
/env_admin/env_admin-ejb/dist/
/env_admin/env_admin-war/build/
/env_admin/env_admin-war/dist/